<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="/">
		<i class="fas fa-popcorn fa-2x"></i> Phobos Movies
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" [class.active]="isHome">
				<a class="nav-link" href="/">Home <span class="sr-only" *ngIf="isHome">(current)</span></a>
			</li>
			<li class="nav-item" [class.active]="isAbout">
				<a class="nav-link" href="/about">About <span class="sr-only" *ngIf="isAbout">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>
