ag-grid-angular {
	width: 100%;
	height: 500px;
}

span.ag-header-cell-text {
	font-weight: 600;
	color: #bbb;
}

span.badge {
	cursor: pointer;
}

span:not(:nth-last-child(2)) {
	span.or {
		display: none;
	}
}

span:last-child {
	span.comma {
		display: none;
	}
}
